.icon {
    width: 36;
height: 36;
angle: 0 deg;
opacity: 1;
}
.Positivus {
   font-size: 170.62px;
font-size: 28.56px;
angle: 0 deg;
opacity: 1;
top: 3px;
left: 48.92px;
color:#000000;
font-family:Arial, Helvetica, sans-serif;
}