/* navbar class is nav and (li) given id for style ??/ */
.flex{
    /* text-decoration:none ; */
    display: flex;
    /* justify-content: space-around; */
    background-color: white;
    margin-top:50px;
    gap: 30px;
    /* list-style:none; */
    align-items:center;
    flex-wrap:wrap;                  /*simple responsive design */
}
.nav{
    text-decoration: none;
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: center; */
    background-color: white;
    align-items:center;

    gap: 30px;
    list-style: none;
}
 #req { 
    text-decoration:none !important;
    color:black;
    border: 1px solid black !important;
    padding: 10px 30px;
    border-radius: 10px;
 }